<!-- ******************************************************************************
 *
 * Pentaho
 *
 * Copyright (C) 2026 by Pentaho Canada Inc. : http://www.pentaho.com
 *
 * Use of this software is governed by the Business Source License included
 * in the LICENSE.TXT file.
 *
 * Change Date: 2030-06-15
 ******************************************************************************* -->
<settings>
  <session-variables-blacklist>pentaho-session-context,SPRING_SECURITY_CONTEXT,roles,IUserSettingService,PENTAHO_TMP_DELETER</session-variables-blacklist>
</settings>
